[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
gunicorn = "*"
flask-admin = "*"
flask-swagger-ui = "*"

[scripts]
start = "python run.py"
command = "flask --app run.py"
init = "flask --app run.py db init"
migrate = "flask --app run.py db migrate"
upgrade = "flask --app run.py db upgrade"
downgrade = "flask --app run.py db downgrade"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
